[submodule "bundles/eloquent"]
	path = bundles/eloquent
	url = git://github.com/taylorotwell/eloquent.git
[submodule "bundles/markdown"]
	path = bundles/markdown
	url = https://github.com/sparksp/laravel-markdown.git
[submodule "bundles/syntaxhighlighter"]
	path = bundles/syntaxhighlighter
	url = https://github.com/sparksp/laravel-syntaxhighlighter.git
[submodule "bundles/twitter"]
	path = bundles/twitter
	url = https://github.com/sparksp/laravel-twitter.git
[submodule "bundles/topos"]
	path = bundles/topos
	url = git@github.com:sparksp/laravel-html-menu.git
